<h2>Details</h2>
<img class="pull-left"  ng-src="{{model.startup.logo_url}}">

<div class="top-buffer">
    <h1 class="page-header">{{model.startup.name}}</h1>
</div>
<br>
<p>Startup High concept:</p>
<p>{{model.startup.high_concept}}</p>
<br>
<button class="btn btn-primary"
        ng-click="model.follow(model.startup)">
    <span class="glyphicon glyphicon-star-empty"></span>
</button>
<p>Startup Description:</p>
<p>{{model.startup.product_desc}}</p>

<p>Startup url:</p>
<p>{{model.startup.company_url}}</p>

<p>Product</p>
<youtube-video video-url="model.startup.video_url"></youtube-video>

<p>Startup markets:</p>
<p>{{model.startup.markets}}</p>

<p>Startup locations:</p>
<p>{{model.startup.locations[0]}}</p>

<p>Comments</p>
<p>{{model.startup.comments}}</p>

<p>Jobs availaible</p>
<p>{{model.startupJobs.jobs}}</p>

<h3>People associated with the startup</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Role</th>
        <th>Title</th>
        <th>Profile link</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="role in model.startupRoles">
        <td>
            <img height="50px" ng-src="{{role.tagged.image}}"/>
        </td>
        <td>
                {{role.tagged.name}}
        </td>
        <td>
            {{role.role}}
        </td>
        <td>
            {{role.title}}
        </td>
        <td>
            <a href={{role.tagged.angellist_url}} target="_blank">{{role.tagged.angellist_url}}</a>
        </td>
    </tr>
    </tbody>
</table>