.form-horizontal .control-label.text-left{
    text-align: left;
    white-space: nowrap;
}

.glyphiconmysize{
    font-size: 30px;
}

.glyphiconmysizehidden{
    font-size: 30px;
    visibility: hidden;
}

.tablefloatmargin{
    float: right;
    margin-top: 40px;
}

.nowrap{
    white-space: nowrap;
}