<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms : Registration Form</h1>

            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#">Fields</a></li>
            </ul>
            <div n-sortable>
                <div ng-repeat="field in fields" ng-switch on="field.type">
                    <div ng-switch-when="TEXT">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div class="col-xs-6" >
                                    <input type="text" id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control">
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="EMAIL">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div class="col-xs-6" >
                                    <input type="email" id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control">
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="TEXTAREA">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div class="col-xs-6" >
                                    <textarea id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control"></textarea>
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="OPTIONS">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div class="col-xs-6">
                                    <select id="{{field._id}}" class="form-control">
                                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="DATE">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div class="col-xs-6">
                                    <input type="date" id="{{field._id}}" placeholder="{{field.placeholder}}" class="form-control">
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="RADIOS">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div id="{{field._id}}" class="col-xs-6">
                                    <div class="radio" ng-repeat="option in field.options">
                                        <label>
                                            <input type="radio" name="{{field.label}}" value="{{option.value}}" checked>
                                            {{option.label}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-switch-when="CHECKBOXES">
                        <fieldset class="form-group">
                            <label for="{{field._id}}" class="control-label">{{field.label}}</label>
                            <div class="row nowrap">
                                <div id="{{field._id}}" class="col-xs-6">
                                    <div class="checkbox" ng-repeat="option in field.options">
                                        <label>
                                            <input type="checkbox" value="{{option.value}}">
                                            {{option.label}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"></a>
                                    <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true"
                                       ng-click="removeField(field)"></a>
                                    <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true"></a>
                                </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <hr class="form-group" />
            <fieldset class="form-group">
                <label for="add_new_field" class="control-label">Add New Field:</label>
                <div class="row nowrap">
                    <div class="col-xs-6">
                        <select id="add_new_field" ng-model="model.fieldType" class="form-control">
                            <option value="SINGLE_LINE_TEXT">Single Line Text</option>
                            <option value="MULTI_LINE_TEXT">Paragraph Text Field</option>
                            <option value="DATE">Date</option>
                            <option value="DROPDOWN">Dropdown</option>
                            <option value="CHECKBOXES">Checkboxes</option>
                            <option value="RADIO">Radio Buttons</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <a class="glyphicon glyphicon-pencil glyphiconmysizehidden" aria-hidden="true"></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true"
                           ng-click="addField(model.fieldType)"></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysizehidden" aria-hidden="true"
                        ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysizehidden" aria-hidden="true"></a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


    <script type="text/ng-template" id="labelPlaceholder.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="TEXTLABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="TEXTLABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>

            <label for="TEXTPLACEHOLDER" class="control-label">Placeholder:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="TEXTPLACEHOLDER" ng-model="editField.placeholder" class="form-control">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <script type="text/ng-template" id="labelPlaceholderDate.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="DATELABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="DATELABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <script type="text/ng-template" id="labelOptions.html">
        <div class="modal-header">
            <h3 class="modal-title">{{popupHeader}}</h3>
        </div>
        <div class="modal-body">
            <label for="LABEL" class="control-label">Label:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <input type="text" id="LABEL" ng-model="editField.label" class="form-control">
                </div>
            </div>

            <br>

            <label for="PLACEHOLDER" class="control-label">Options:</label>
            <div class="row nowrap">
                <div class="col-xs-12" >
                    <textarea id="PLACEHOLDER" ng-model="editField.placeholder" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="submit(editField)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>