<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Forms</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="#">Fields</a><span class="sr-only">(current)</span></li>
    </ul>

    <form>
        <br>
        <fieldset class="form-group">
            <label for="firstname">First Name:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control col-xs-6" id="firstname" placeholder="First Name">
                </div>
                <div class="col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true"></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="ln">Last Name:</label>
            <div class="row">
                <div class="form-group col-xs-6">

                    <input type="text" class="form-control" id="ln" placeholder="Last Name">
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label for="dob">Date of Birth:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <input type="date" class="form-control" id="dob">
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label>Gender:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <select class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label>Roles:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <div class="checkbox">
                        <label><input type="checkbox">Admin</label>
                        <br>
                        <label><input type="checkbox">Student</label>
                        <br>
                        <label><input type="checkbox">User</label>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <label>License Agreement:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <div class="radio">
                        <label><input type="radio" name="optradio">Yes</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio">No</label>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-pencil glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-menu-hamburger glyphiconmysize" aria-hidden="true" ></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <hr class="form-group">
        <fieldset>
            <label>Add New Field:</label>
            <div class="row">
                <div class="form-group col-xs-6">
                    <select class="form-control">
                        <option>Single Line Text</option>
                        <option>Date</option>
                        <option>Dropdown</option>
                        <option>Checkboxes</option>
                        <option>Radio buttons</option>
                        <option>Paragraph Text Field</option>
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <div class="nowrap">
                        <a class="glyphicon glyphicon-remove glyphiconmysizehidden" aria-hidden="true"></a>
                        <a class="glyphicon glyphicon-plus glyphiconmysize" aria-hidden="true" ></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysizehidden" aria-hidden="true"></a>
                        <a class="glyphicon glyphicon-remove glyphiconmysizehidden" aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </fieldset>
</div>
