<div class="container">
<h2>Register</h2>
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/registerUser">User</a></li>
    <li role="presentation" class="active"><a href="#/registerStartup">Startup</a></li>
</ul>
<input ng-model="model.company.username"
       type="text"
       class="form-control"
       placeholder="Company Name"/>
<input ng-model="model.company.startupDetails.video_url"
       type="text"
       class="form-control"
       placeholder="Video URL(can be youtube or Vimeo)"/>
<input ng-model="model.company.startupDetails.high_concept"
       type="text"
       class="form-control"
       placeholder="High Concept Pitch"/>
<input ng-model="model.company.startupDetails.company_url"
       type="text"
       class="form-control"
       placeholder="Company Website"/>
<textarea ng-model="model.company.startupDetails.product_desc"
       class="form-control"
          rows="4"
          cols="50"
       placeholder="Product description"></textarea>
<input ng-model="model.company.startupDetails.locations"
       type="text"
       class="form-control"
       placeholder="Add Locations"/>
<input ng-model="model.company.password"
       type="password"
       class="form-control"
       placeholder="Password"/>
<input ng-model="model.company.verifyPassword"
       type="password"
       class="form-control"
       placeholder="Verify password"/>
<a class="btn btn-info" role="button"
   ng-click="model.registerStartup(model.company)">Register</a>
</div>