<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Profile</h1>
    <div ng-show="message" class="alert alert-success" role="alert">{{message}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-md-2 control-label text-left">Username:</label>
            <div class="col-md-10">
                <input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label text-left">Password:</label>
            <div class="col-md-10">
                <input ng-model="user.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-md-2 control-label text-left">First Name:</label>
            <div class="col-md-10">
                <input ng-model="user.firstName" type="text" class="form-control" id="firstname" placeholder="First Name">
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-md-2 control-label text-left">Last Name:</label>
            <div class="col-md-10">
                <input ng-model="user.lastName" type="text" class="form-control" id="lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label text-left">Email:</label>
            <div class="col-md-10">
                <input ng-model="user.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label text-left"></label>
            <div class="col-md-10">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-info" role="button"
                    ng-click="update(user)">Update</a>
                </div>
            </div>
        </div>
    </form>
</div>
