<h2>Details</h2>
<img class="pull-left"  ng-src="{{startup.logo_url}}">

<div class="top-buffer ">
    <h1 class="page-header">{{startup.name}}</h1>
</div>
<br>
<p>Startup High concept:</p>
<p>{{startup.high_concept}}</p>
<br>
<p>Startup Description:</p>
<p>{{startup.product_desc}}</p>

<p>Startup url:</p>
<p>{{startup.company_url}}</p>

<p>Product</p>
<youtube-video video-url="startup.video_url"></youtube-video>

<p>Startup markets:</p>
<p>{{startup.markets}}</p>

<p>Startup locations:</p>
<p>{{startup.locations[0]}}</p>

<p>Comments</p>
<p>{{startup.comments}}</p>

<p>Jobs availaible</p>
<p>{{startupJobs.jobs}}</p>