<div class="container">
    <img ng-show="model.profile.userDetails.profilePicUrl"
         src="{{model.profile.userDetails.profilePicUrl}}"
         alt="User Profile Picture" class="img-circle usr-img">
    <h2 class="text-center">
        {{currentUser.userDetails.firstName}} {{currentUser.userDetails.lastName}}
    </h2>
    <div>
        <h5 class="text-center">{{model.profile.userDetails.role}}</h5>
    </div>
    <div class="text-center">
        <a ng-if="model.profile.userDetails.linkedIn_url" href="{{model.profile.userDetails.linkedIn_url}}" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        <a ng-if="model.profile.userDetails.github_url" href="{{model.profile.userDetails.github_url}}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a ng-if="model.profile.userDetails.stack_url" href="{{model.profile.userDetails.github_url}}" target="_blank"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i></a>
        <a ng-if="model.profile.userDetails.facebook_url" href="{{model.profile.userDetails.facebook_url}}" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a ng-if="model.profile.userDetails.website_url" href="{{model.profile.userDetails.website_url}}" target="_blank">{{model.profile.userDetails.website_url}}</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-10">
                <div class="col-lg-10">
            <h5 class="text-left">{{model.profile.userDetails.about}}</h5>
                    </div>
            </div>
            <button class="btn btn-secondary pull-right">Share</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Projects</div>
        <div class="panel-body">
            <div ng-repeat="project in model.profile.userDetails.projects">
                <div>
                    <h3>{{project.name}}</h3>
                    <p>{{project.startDate | amDateFormat:'MM/DD/YYYY' }} - {{project.endDate | amDateFormat:'MM/DD/YYYY'}}</p>
                    <a href="project.project_url">{{project.project_url}}</a>
                    <div>
                        {{project.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Experience</div>
        <div class="panel-body">
            <div ng-repeat="experience in model.profile.userDetails.experience">
                <div>
                    <h3>{{experience.employer}}</h3>
                    <p>{{experience.startDate | amDateFormat:'MM/DD/YYYY' }} - {{experience.endDate | amDateFormat:'MM/DD/YYYY'}}</p>
                    {{experience.title}}
                    <div>
                        {{experience.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
            <div ng-repeat="education in model.profile.userDetails.education">
                <div>
                    <h3>{{education.university}}</h3>
                    {{education.major}}
                    <div>
                        Graduated in {{education.yearGraduated | amDateFormat:'YYYY'}}
                    </div>
                    {{education.achievements}}
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Achievements</div>
        <div class="panel-body">{{model.profile.userDetails.achievement}}</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Startups I follow</div>
        <div class="panel-body">
                <div class="row" ng-if="model.startupList.length > 0">
                    <div class="col-md-4" ng-repeat="startup in model.startupList">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <a href="#/details/{{startup.startupId}}">
                                    {{startup.name}}
                                </a>
                                <a class="btn btn-danger pull-right additionStyle" type="button" ng-click="model.unfollow(startup)">
                                    Unfollow
                                </a>
                            </div>
                            <div class="panel-body text-center sizeclass">
                                <img class="align-center" ng-src="{{startup.logo_url}}" width="100px"/>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>